
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-5">
        <h3 class="panel-heading"> Sign Up </h3>
      </div>
      <div class="col-xs-7 panel-heading">     
        <%= image_tag("facebook_icon.png", alt: "Facebook")%>
        <%= link_to "Sign up with Facebook", omniauth_authorize_path(resource_name, "facebook") %><br />
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <%= f.fields_for :people do |ff| %>
        <div class="field form-group">
          <%= ff.label :first_name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= ff.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="field form-group">
          <%= ff.label :last_name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= ff.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="field form-group">
          <%= ff.label :nationality_id, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= ff.collection_select(:nationality_id, Country.all, :id, :name, { :include_blank => true},{:class => "form-control"})%>
          </div>
        </div> 
        <% end %>
      <div class="field form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <div class="actions">
        <div class="form-group">
          <div class ="col-sm-offset-2 col-sm-10">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    Already registered?  <%= link_to "Log in", new_session_path(resource_name) %><br />
   <!--  <%= render "devise/shared/links" %> -->
  </div>
</div>


