/ -if @advertise_country
/   = raw @advertise_country.affiliate_booking_html
.row
  .col-md-12.text-center
    .ad-block
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}
%h1 Travel Record
-if @visits.count > 0
  = render 'visitlist'
-else
  %p
    Start using the Schengen Calculator by adding your previous and up comming travel plans. 
  %p
    Don't forget to also select your nationality, which is currently set to 
    = current_person.nationality.name
    \. If this is not correct,
    = link_to 'change it now here', my_details_path
    , or later by following the link in the top right corner of this page.
  %p
    For further information, read the 
    = link_to 'About page', about_path
    \.
%br
= link_to 'Add a new travel record', new_visit_path, class: "btn btn-primary"
%br
-if current_person.visa_required?
  %h2 Schengen Visa List
  = render 'visas/visalist'
  %br
  = link_to 'Add a new Visa', new_visa_path, class: "btn btn-primary"
%br
  - if !user_signed_in?
    = render 'registerPrompt'
.row
  .col-md-12.text-center
    .fb-like.visible-xs-block{"data-action" => "like", "data-href" => "http://www.schengen-calculator.com", "data-layout" => "button", "data-share" => "true", "data-show-faces" => "false"}
.ad-block
  %a{ :href => "https://www.shopify.com/?ref=sally-mclean-it-consulting" }
    = image_tag "shopify_banner.jpg", { border: 0, class: "img-responsive" }
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});


