%h1 Travel Record

%table.table
  %thead
    %tr.table-top-header
      %th.center-heading{ colspan: "5" } Travel Details
      -if current_person.visa_required?
        %th.center-heading{ colspan: "3" } Visa Details
      %th.center-heading{ colspan: "2" } Days in Schengen Area
      %th.center-heading{ colspan: "2" }
    %tr
      %th Entry date
      %th Exit date
      %th Country 
      %th 
        Schengen
        %br Area
      %th Days
      -if current_person.visa_required?
        %th Exits?
        %th No Entries
        %th Days Overstay
      %th Days Remaining
      %th Days Overstay
      %th
      %th
      
  %tbody
    - @visits.each do |visit|
      %tr
        %td= visit.entry_date
        %td= visit.exit_date
        %td= visit.country.name
        %td= visit.schengen? ? "Yes" : "No"
        %td= visit.no_days
        -if current_person.visa_required?
          %td{ class: ("danger" if visit.visa_exists? == false)}
            -if visit.visa_exists?
              ="Yes"
            -else
              ="No"
          %td{ class: ("danger" if visit.visa_entry_overstay?)}
            -if visit.visa_exists?
              = visit.visa_entry_count
              of
              = visit.visa_entries_allowed == 0 ? "Multi" : visit.visa_entries_allowed
            -elsif visit.schengen? == false
              N/A
            -else
              Visa Required!
          %td{ class: ("danger" if visit.visa_overstay?) }
            = visit.visa_overstay_days
        %td= visit.schengen_days_remaining
        %td{ class: ("danger" if visit.schengen_overstay?) }
          = visit.schengen_overstay_days
        %td
          -if visit.visit_check?
            %span.glyphicon.glyphicon-ok-sign{"aria-hidden" => "true"}
          -else
            %span.glyphicon.glyphicon-remove-sign{"aria-hidden" => "true"}
        %td
          %ul
            %li= link_to 'Show', visit
            %li= link_to 'Edit', edit_visit_path(visit)
            %li= link_to 'Delete', visit, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to 'Add a new travel record', new_visit_path

%br
-if current_person.visa_required?
  %h1 Schengen Visa List
  = render 'visas/visalist'
  %br
  = link_to 'Add a new Visa', new_visa_path


