%h1 Travel Record

%table.table
  %thead
    %tr
      %th Entry date
      %th Exit date
      %th Country
      %th Days
      %th Shengen Zone
      %th
      %th
      %th
      
  %tbody
    - @visits.each do |visit|
      %tr
        %td= visit.entry_date
        %td= visit.exit_date
        %td= visit.country.name
        %td= visit.no_days
        %td 
          -if visit.country.schengen? 
            = "Y"
          - else
            = "N"
        %td= link_to 'Show', visit
        %td= link_to 'Edit', edit_visit_path(visit)
        %td= link_to 'Delete', visit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Visit', new_visit_path
