.responsive-table-container
  %table.table.table-striped.table-bordered.table-hover.responsive-table
    %caption
      List of Schengen Visas to use for calculation.
    %thead.bg-header
      %tr
        %th{ scope: "col"} Dates
        %th{ scope: "col"} No entries
        %th{ scope: "col", class: 'modify-col' }      
    %tbody
      - @visas.each do |visa|
        %tr
          %th{ scope: "row", class: 'bg-md-header'}
            %span.no-wrap 
              = visa.start_date.strftime('%d-%b-%Y')
            = " to "
            %span.no-wrap
              = visa.end_date.strftime('%d-%b-%Y')
          %td{"data-title": "No Entries"} 
            = visa.no_entries
          %td{"data-title": "Modify"} 
            = link_to 'Edit', edit_visa_path(locale: I18n.locale, id: visa.id)
            = " / "
            = link_to 'Delete', visa, :method => :delete, :data => { :confirm => 'Are you sure?' }
