= form_for @visa do |f|
  - if @visa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visa.errors.count, "error")} prohibited this visa from being saved:"
      %ul
        - @visa.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :no_entries
    = f.number_field :no_entries
    (enter 0 for multi/unlimited entries)
  .actions
    = f.submit 'Save'


