.responsive-table-container
  %table.table.responsive-table
    %thead
      %tr
        %th{ scope: "col"} Dates
        %th{ scope: "col"} No entries
        %th{ scope: "col"}      
    %tbody
      - @visas.each do |visa|
        %tr
          %th{ scope: "row"}
            %span.no-wrap 
              = visa.start_date 
            = " to "
            %span.no-wrap
              = visa.end_date
          %td{"data-title": "No Entries"} 
            = visa.no_entries
          %td{"data-title": "Modify"} 
            = link_to 'Edit', edit_visa_path(visa)
            = " / "
            = link_to 'Delete', visa, :method => :delete, :data => { :confirm => 'Are you sure?' }
