<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-5">
        <h3 class="panel-heading"> Log In </h3>
      </div>
      <div class="col-xs-7 panel-heading">     
        <%= image_tag("facebook_icon.png", alt: "Facebook")%>
        <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %><br />
      </div>
    </div>
  </div>
  <div class="panel-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login', class: "form-horizontal" }) do |f| %>
    <div class="field  form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true , class: "form-control"%>
      </div>
    </div>

    <div class="field  form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
     <div class="field  form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    </div>
    <% end -%>
    <div class="actions">
      <div class="form-group">
        <div class ="col-sm-offset-2 col-sm-10">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="panel-footer">
    <%= link_to "Not yet Registered?", new_registration_path(resource_name) %><br />
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>
</div>


