<div class="card">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-md-5">
        <h3>Log In</h3>
      </div>
      <div class="col-md-7">
        <div class="d-flex float-right">
          <%= image_tag("facebook_icon.png", alt: "Facebook", class: "mr-2") %>
          <%= button_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login', class: "form-horizontal" }) do |f| %>
      <div class="form-group row">
        <%= f.label :email, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group row">
          <%= f.label :remember_me, class: "form-check-label col-form-label col-sm-2" %>
          <div class="col-sm-10">
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
             
            </div>
          </div>
        </div>
      <% end -%>

      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.submit "Log in", class: "btn btn-primary form-btn float-right" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    Not yet registered? <%= link_to "Register", new_registration_path(resource_name) %><br />
    Forgot your password? <%= link_to "Reset Password", new_password_path(resource_name) %><br />
  </div>
</div>
