<div class="card">
  <div class="card-body">
    <div class="row card-title">
      <div class="col-md-5">
        <h3><%= t('sign_up_page.title') %></h3>
      </div>
      <div class="col-md-7">
        <div class="float-right">
          <a href="<%= user_facebook_omniauth_authorize_path(display: 'page') %>" class="btn" style="background-color: white; color: #333; border: 1px solid #007bff; text-decoration: none;">
            <div style="display: flex; align-items: center;">
              <%= image_tag("facebook_icon.png", alt: "Facebook", style: "margin-right: 0.5rem; margin-bottom: 0;") %>
              <span><%= t('log_in_page.log_in_with_facebook') %></span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal new_user" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group row">
        <%= f.label :first_name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :last_name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :nationality_id, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.collection_select(:nationality_id, Country.all, :id, :name, { include_blank: true }, { class: "form-control custom-select" }) %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :email, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit t('sign_up_page.sign_up_button'), class: "btn btn-primary form-btn float-right" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer">
    <%= t('sign_up_page.already_registered') %> <%= link_to t('sign_up_page.log_in_link'), new_user_session_path(locale: I18n.locale) %><br />
  </div>
</div>
