= form_for @visit, html: { class: "form-horizontal" }, remote: true do |f|
  - if @visit.errors.any?
    .alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
      %button.close{"type" => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
        %span{"aria-hidden" => "true"} &times;
      %strong
        = pluralize(@visit.errors.count, "error")
        prohibited this visit from being saved:
      %ul.mb-0.mt-2
        - @visit.errors.full_messages.each do |msg|
          %li= msg
  .form-group.row
    .col-sm-2.my-auto
      = f.label :entry_date, class: "col-form-label"
    .col-sm-10.date-form-group
      = f.date_select :entry_date, {}, { class: "form-control custom-select" }
  .form-group.row
    .col-sm-2.my-auto
      = f.label :exit_date, class: "col-form-label"
    .col-sm-10.date-form-group
      = f.date_select :exit_date, {}, { class: "form-control custom-select" }
  .form-group.row
    .col-sm-2.my-auto
      = f.label t('common.continent'), class: "col-form-label"
    .col-sm-10
      = select_tag t('common.continent'), options_from_collection_for_select(@continent, "id", "name", @continent_default_id), class: "custom-select custom-select"
  .form-group.row
    .col-sm-2.my-auto
      = f.label :country, class: "col-form-label"
    .col-sm-10
      = f.collection_select(:country_id,  Country.where(continent_id: @continent_default_id), :id, :name, { include_blank: true }, class: "form-control custom-select")
    / = f.select :country_id, options_from_collection_for_select(@countries, "id", "name")
%script
  != "var country = #{@country_options.html_safe};"
  != "var CountriesList = new App.Cascade($('#Continent'), $('#visit_country_id'), country, 'id', 'name', 'continent_id')"
