.responsive-table-container
  %table.table.table-striped.table-bordered.table-hover.responsive-table
    %caption
      List of countries visited or that you have visited in the last 180 days, and are planning to visit in the future.
    %thead.thead-dark
      %tr.table-top-header
        %th.center-heading{ colspan: "4", scope: "col" } Travel Details
        -if current_user_or_guest_user.visa_required?
          %th.center-heading{ colspan: "3",  scope: "col" } Visa Details
        %th.center-heading{ colspan: "2",  scope: "col"  } Days in Schengen Area
        %th.center-heading{ scope: "col", class: "modify-col" }
      %tr
        %th{ scope: "col" } Dates
        %th{ scope: "col" } Country 
        %th{ scope: "col" , "data-toggle":"tooltip",title:"Indicates if the country of this visit is included in the Schengen Area." } 
          Schengen
          %br Area
        %th{ scope: "col" , "data-toggle":"tooltip",title:"The number of days of this visit." } No. Days
        -if current_user_or_guest_user.visa_required?
          %th{ scope: "col", "data-toggle":"tooltip",title:"Indicates if a Visa for for the period of travel been entered."  } Exits?
          %th{ scope: "col", "data-toggle":"tooltip",title:"The number entries allowed on this Visa"  } No. Entries
          %th{ scope: "col", "data-toggle":"tooltip",title:"The number of days inside the Schengen Area not allowed by the Visa's Entered." } Days Overstay
        %th{ scope: "col" , "data-toggle":"tooltip",title:"The number of days inside the Schengen Area in the previous 180 days."} 
          Schengen Days
          %br Calculation
        %th{ scope: "col", "data-toggle":"tooltip",title:"The number days in the Schengen Area over the allowed number of days"  } Days Overstay
        %th{ scope: "col" }      
    %tbody
      - @visits.each do |visit|
        %tr
          %th{ scope: "row"}
            %span.no-wrap
              = visit.entry_date.strftime('%d-%b-%Y')
            = " to "
            %span.no-wrap
              = visit.exit_date.strftime('%d-%b-%Y')
            %span.d-md-none
              (
              =visit.no_days
              days)
          %th{ scope: "row"}
            = visit.country.name
            %span.d-md-none
              = "(In Schengen Zone)" if visit.schengen?
              = "(Outside Schengen Zone)" if !visit.schengen?
          %td{"data-title": "Schengen Area", class: "d-none d-md-table-cell"} 
            = visit.schengen? ? "Yes" : "No"
          %td{ "data-title": "No. Days", class: "d-none d-md-table-cell"} 
            = visit.no_days
          -if current_user_or_guest_user.visa_required?
            %td{ "data-title": "Visa Exists", class: ("table-danger" if visit.visa_exists? == false && visit.schengen?)}
              -if visit.schengen? == false
                = "NA"
              -elsif visit.visa_exists?
                ="Yes"
              -else
                ="No"
            %td{ "data-title": "Visa Entry Count", class: ("table-danger" if visit.visa_entry_overstay?)}
              -if visit.visa_exists?
                = visit.visa_entry_count
                of
                = visit.visa_entries_allowed == 0 ? "Multi" : visit.visa_entries_allowed
              -elsif visit.schengen? == false
                N/A
              -else
                Visa Required!
            %td{ "data-title": "Visa Days Overstay", class: ("table-danger" if visit.visa_overstay?), class: ("d-none d-md-table-cell" if visit.visa_overstay? == 0) }
              = visit.visa_overstay_days
          %td{ "data-title": "Schengen days" }
            = visit.schengen_days
            of 90 days
          %td{ "data-title" => "Schengen Days Overstay", class: ("table-danger" if visit.schengen_overstay?).to_s + (" d-none d-md-table-cell" if visit.schengen_overstay_days == 0).to_s }
            = visit.schengen_overstay_days
          %td{ "data-title": "Modify" }
            = link_to 'Edit', edit_visit_path(visit)
            = " / "
            = link_to 'Delete', visit, :method => :delete, :data => { :confirm => 'Are you sure?' }
