-# If @advertise_country
/   = raw @advertise_country.affiliate_booking_html
-# - if !user_signed_in?
-#   = render 'registerPrompt'
- if @visits.count == 0
  %p
    = t('visits.start_using')
  %p
    = t('visits.dont_forget', nationality: current_user_or_guest_user.nationality.name, change_link: link_to(t('visits.change_link'), my_details_path(locale: I18n.locale))).html_safe
  %p
    = t('visits.for_further_information', about_page_link: link_to(t('common.about_page'), about_path(locale: I18n.locale))).html_safe
%br
.row
  .col-lg-9
    - if current_user_or_guest_user.visa_required?
      %h2= t('visits.schengen_visa_list')
      .row.py-1
        .col-md-12.text-right
          %button.btn.btn-add.btn-md.form-btn{"data-action" => "add-visa"}
            %i.fa.fa-plus{"aria-hidden" => "true"}
            =t('visits.add_visa')
      .row
        .col-md-12
          = render 'visas/visalist'

    %h2= t('visits.travel_record')
    .row.py-1
      .col.d-flex.align-items-center
        - if @visits.count > 0
          = link_to visits_path(locale: I18n.locale, format: "csv"), class: "btn btn-outline-primary btn-md" do
            %i.fa.fa-download.mr-2{"aria-hidden" => "true"}
            = t('visits.export_to_csv')
      .col-auto.ml-auto
        %button.btn.btn-add.btn-md.form-btn{"data-action" => "add-visit"}
          %i.fa.fa-plus{"aria-hidden" => "true"}
          = t('visits.add_travel')

    .row
      .col-md-12
        = render 'visitlist'
    .row
      .col-lg-10.col-md-12
        .ad-block-limit
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}
  .col-lg-3.d-none.d-lg-block.mb-5{style: "padding-bottom: 220px;"}
    = render 'days/calendar_sidebar'

.row.d-lg-none.mt-2
  .col-12
    = render 'days/calendar_sidebar', sticky_sidebar: false

-# Modal for adding/editing visits
#visitModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "visitModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#visitModalLabel.modal-title= t('visits.add_record')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        -# Form will be loaded here via AJAX
      .modal-footer.d-flex.justify-content-between
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
        .ml-auto
          %button#deleteVisitButton.btn.btn-danger.mr-2{type: "button", style: "display:none;"}
            %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
            = t('common.delete')
          %button#saveVisitButton.btn.btn-primary{type: "button"}
            %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
            = t('common.save')

-# Modal for adding/editing visas
#visaModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "visaModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#visaModalLabel.modal-title= t('visas.add_visa')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        -# Form will be loaded here via AJAX
      .modal-footer.d-flex.justify-content-between
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
        .ml-auto
          %button#deleteVisaButton.btn.btn-danger.mr-2{type: "button", style: "display:none;"}
            %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
            = t('common.delete')
          %button#saveVisaButton.btn.btn-primary{type: "button"}
            %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
            = t('common.save')

  #deleteModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header.delete-warning
        %h5#deleteModalLabel.modal-title
          %i.fa.fa-exclamation-triangle.mr-2{"aria-hidden" => "true"}
          = t('common.confirm_delete')
        %button.close.text-white{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        %p#deleteModalMessage= t('common.delete_warning')
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
        %a#deleteConfirmButton.btn.btn-danger{href: "#"}
          %i.fa.fa-trash.mr-2{"aria-hidden" => "true"}
          = t('common.delete')

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});

