-# If @advertise_country
/   = raw @advertise_country.affiliate_booking_html
-# - if !user_signed_in?
-#   = render 'registerPrompt'

.row.mt-4
  .col-lg-9
    - if @visits.count == 0
      .mb-4
        %h1.h3.mb-3= t('visits.page_title')
        %p.lead= t('visits.page_description')
        %p.text-muted
          = t('visits.nationality_set_to', nationality: current_person.nationality.name, settings_link: link_to(t('visits.change_settings'), edit_person_path(current_person, locale: I18n.locale))).html_safe
    - else
      %h1.sr-only= t('visits.page_title')

    - if current_person.visa_required?
      %h3.section-heading.mt-0
        %i.fa.fa-passport.mr-2
        = t('visits.schengen_visa_list')
      - if @visas.any?
        .row.py-1.mb-2
          .col-md-12.text-right
            %button.btn.btn-add.btn-md.form-btn{"data-action" => "add-visa", "aria-label": t('visits.add_visa')}
              %i.fa.fa-plus{"aria-hidden" => "true"}
              =t('visits.add_visa')
      .row
        .col-md-12
          = render 'visas/visalist'

    %h3.section-heading
      %i.fa.fa-plane.mr-2
      = t('visits.travel_record')
    - if @visits.any?
      .row.py-1.mb-2
        .col-auto.ml-auto
          - if @visits.count > 0
            = link_to visits_path(locale: I18n.locale, format: "csv"), class: "btn btn-outline-primary btn-md mr-2", "aria-label": t('visits.export_to_csv') do
              %i.fa.fa-download.mr-2{"aria-hidden" => "true"}
              = t('visits.export_to_csv')
            = link_to days_path(locale: I18n.locale), class: "btn btn-outline-primary btn-md mr-2", "aria-label": t('common.calendar') do
              %i.fa.fa-calendar.mr-2{"aria-hidden" => "true"}
              = t('common.calendar')
          %button.btn.btn-add.btn-md.form-btn{"data-action" => "add-visit", "aria-label": t('visits.add_travel')}
            %i.fa.fa-plus{"aria-hidden" => "true"}
            = t('visits.add_travel')

    .row
      .col-md-12
        = render 'visitlist'
    .row
      .col-lg-10.col-md-12
        .ad-block-limit.d-none.d-md-block
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}
  .col-lg-3.d-none.d-lg-block.mb-5{style: "padding-bottom: 220px;"}
    = render 'days/calendar_sidebar'

.row.d-lg-none.mt-2
  .col-12
    = render 'days/calendar_sidebar', sticky_sidebar: false

-# Modal for adding/editing visits
#visitModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "visitModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#visitModalLabel.modal-title= t('visits.add_record')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        -# Form will be loaded here via AJAX
      .modal-footer.d-flex
        - if rtl_locale?
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button", "aria-label": t('common.cancel')}= t('common.cancel')
          .mr-auto
            %button#deleteVisitButton.btn.btn-danger.mr-2{type: "button", style: "display:none;", "aria-label": t('common.delete')}
              %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
              = t('common.delete')
            %button#saveVisitButton.btn.btn-primary{type: "button", "aria-label": t('common.save')}
              %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
              = t('common.save')
        - else
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button", "aria-label": t('common.cancel')}= t('common.cancel')
          .ml-auto
            %button#deleteVisitButton.btn.btn-danger.mr-2{type: "button", style: "display:none;", "aria-label": t('common.delete')}
              %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
              = t('common.delete')
            %button#saveVisitButton.btn.btn-primary{type: "button", "aria-label": t('common.save')}
              %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
              = t('common.save')

-# Modal for adding/editing visas
#visaModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "visaModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#visaModalLabel.modal-title= t('visas.add_visa')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        -# Form will be loaded here via AJAX
      .modal-footer.d-flex
        - if rtl_locale?
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
          .mr-auto
            %button#deleteVisaButton.btn.btn-danger.mr-2{type: "button", style: "display:none;"}
              %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
              = t('common.delete')
            %button#saveVisaButton.btn.btn-primary{type: "button"}
              %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
              = t('common.save')
        - else
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
          .ml-auto
            %button#deleteVisaButton.btn.btn-danger.mr-2{type: "button", style: "display:none;"}
              %i.fa.fa-trash.mr-1{"aria-hidden" => "true"}
              = t('common.delete')
            %button#saveVisaButton.btn.btn-primary{type: "button"}
              %i.fa.fa-save.mr-1{"aria-hidden" => "true"}
              = t('common.save')

#deleteModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.delete-warning
        %h5#deleteModalLabel.modal-title
          %i.fa.fa-exclamation-triangle.mr-2{"aria-hidden" => "true"}
          = t('common.confirm_delete')
        %button.close.text-white{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        %p#deleteModalMessage= t('common.delete_warning')
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"}= t('common.cancel')
        %a#deleteConfirmButton.btn.btn-danger{href: "#"}
          %i.fa.fa-trash.mr-2{"aria-hidden" => "true"}
          = t('common.delete')

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});

