/ -if @advertise_country
/   = raw @advertise_country.affiliate_booking_html
%h1 Travel Record
.row
  .col-md-6
  .col-md-6
    -if @visits.count>0
      %strong
        =link_to "Export to CSV", visits_path(format: "csv")
= render 'visitlist'
-if @visits.count ==0
  %p
    Start using the Schengen Calculator by adding your previous and up comming travel plans. 
  %p
    Don't forget to also select your nationality, which is currently set to 
    = current_user_or_guest_user.nationality.name
    \. If this is not correct,
    = link_to 'change it now here', my_details_path
    , or later by following the link in the top right corner of this page.
  %p
    For further information, read the 
    = link_to 'About page', about_path
    \.
%br
= render 'nextEntryDays'

= link_to 'Add a new travel record', new_visit_path, class: "btn btn-primary"
-if (!(current_user_or_guest_user.visa_required?) && @visits.count>0)
  =link_to "View Schengen Days Calculation Details", days_path, class: "btn btn-info"  

.row
  .col-lg-10.col-md-12
    .ad-block-limit
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}
%br
-if current_user_or_guest_user.visa_required?
  %h2 Schengen Visa List
  = render 'visas/visalist'
  %br
  = link_to 'Add a new Visa', new_visa_path, class: "btn btn-primary" 
%br
  - if !user_signed_in?
    = render 'registerPrompt'
.row
  .col-md-12.text-center
    .facebook-buttons
      .lke
        .fb-like.visible-xs-block{ "data-action": "like", "data-href": "https://www.facebook.com/schengencalculator", "data-layout": "button", "data-share": "false", "data-show-faces": "false"}
      .share
        .fb-share-button.visible-xs-block{ "data-href": "https://www.schengen-calculator.com", "data-layout": "button" }
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});


