/ -if @advertise_country
/   = raw @advertise_country.affiliate_booking_html
-# - if !user_signed_in?
-#   = render 'registerPrompt'
-if @visits.count ==0
  %p
    Start using the Schengen Calculator by adding your previous and up comming travel plans. 
  %p
    Don't forget to also select your nationality, which is currently set to 
    = current_user_or_guest_user.nationality.name
    \. If this is not correct,
    = link_to 'change it now here', my_details_path(locale: I18n.locale)
    , or later by following the link in the top right corner of this page.
  %p
    For further information, read the 
    = link_to 'About page', about_path(locale: I18n.locale)
    \.
%br
= render 'nextEntryDays'
-if current_user_or_guest_user.visa_required?
  %h2 Schengen Visa List
  .row.py-1
    .col-md-12.text-right
      = link_to new_visa_path(locale: I18n.locale), class: "btn btn-primary btn-md form-btn" do
        %i.fa.fa-plus{"aria-hidden" => "true"}
        Add Visa
  .row
    .col-md-12
      = render 'visas/visalist'

%h2 Travel Record
.row.py-1
  .col-md-6.d-flex.align-items-end
    -if @visits.count>0
      =link_to "Export to CSV", visits_path(locale: I18n.locale, format: "csv")
      %span.px-2
        |
    -if (!(current_user_or_guest_user.visa_required?) && @visits.count>0)
      =link_to "View Calculation Details", days_path(locale: I18n.locale)
  .col-md-6.text-right
    = link_to new_visit_path(locale: I18n.locale), class: "btn btn-primary btn-md form-btn" do
      %i.fa.fa-plus{"aria-hidden" => "true"}
      Add Travel
.row
  .col-md-12
    = render 'visitlist'
.row
  .col-lg-10.col-md-12
    .ad-block-limit
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});


