-# If @advertise_country
/   = raw @advertise_country.affiliate_booking_html
-# - if !user_signed_in?
-#   = render 'registerPrompt'
- if @visits.count == 0
  %p
    = t('visits.start_using')
  %p
    = t('visits.dont_forget', nationality: current_user_or_guest_user.nationality.name, change_link: link_to(t('visits.change_link'), my_details_path(locale: I18n.locale))).html_safe
  %p
    = t('visits.for_further_information', about_page_link: link_to(t('common.about_page'), about_path(locale: I18n.locale))).html_safe
%br
= render 'nextEntryDays'
- if current_user_or_guest_user.visa_required?
  %h2= t('visits.schengen_visa_list')
  .row.py-1
    .col-md-12.text-right
      = link_to t('visits.add_visa'), new_visa_path(locale: I18n.locale), class: "btn btn-primary btn-md form-btn" do
        %i.fa.fa-plus{"aria-hidden" => "true"}
        = t('visits.add_visa')
  .row
    .col-md-12
      = render 'visas/visalist'

%h2= t('visits.travel_record')
.row.py-1
  .col-md-6.d-flex.align-items-end
    - if @visits.count > 0
      = link_to t('visits.export_to_csv'), visits_path(locale: I18n.locale, format: "csv")
      %span.px-2
        |
    - if !current_user_or_guest_user.visa_required? && @visits.count > 0
      = link_to t('visits.view_calculation_details'), days_path(locale: I18n.locale)
  .col-md-6.text-right
    = link_to new_visit_path(locale: I18n.locale), class: "btn btn-primary btn-md form-btn" do
      %i.fa.fa-plus{"aria-hidden" => "true"}
      = t('visits.add_travel')

.row
  .col-md-12
    = render 'visitlist'
.row
  .col-lg-10.col-md-12
    .ad-block-limit
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "3629950616", :style => "display:block"}

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});


