%p#notice= notice

%p
  %b Entry date:
  = @visit.entry_date
%p
  %b Exit date:
  = @visit.exit_date
%p
  %b Country:
  = @visit.country_id

= link_to 'Edit', edit_visit_path(@visit)
\|
= link_to 'Back', visits_path
