%p#notice= notice

%p
  %b= t('visits.entry_date') + ':'
  = @visit.entry_date
%p
  %b= t('visits.exit_date') + ':'
  = @visit.exit_date
%p
  %b= t('common.country') + ':'
  = @visit.country_id

= link_to t('common.edit'), edit_visit_path(locale: I18n.locale, id: @visit.id)
\|
= link_to t('common.back'), visits_path(locale: I18n.locale)
