%p#notice= notice

%p
  %b Entry date:
  = @visit.entry_date
%p
  %b Exit date:
  = @visit.exit_date
%p
  %b Country:
  = @visit.country_id

= link_to 'Edit', edit_visit_path(locale: I18n.locale, id: @visit.id)
\|
= link_to 'Back', visits_path(locale: I18n.locale)
