
- if @country.nil? == false
  - title " for " +  @country.nationality_plural 
/ .row
/   .col-sm-10
/     / Schengen
/     %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "7291202216", :style => "display:block"}
.row
  .col-lg-8{role: "main"}
    .about-section
      %h1{id: "intro"}
        = t('about.title')
      %h2
        = t('about.introduction')
      %p
        = t('about.calculator_description')
      .text-center
        = link_to t('about.get_started'), visits_path, class: "btn btn-primary"
      %br
      %p
        = t('about.useful_for_planning')
      .ad-block
        %ins.adsbygoogle{data: {ad_client: "ca-pub-8290979932488448", ad_format: "auto", ad_slot: "7291202216"}, style: "display:block"}
      %h2{id: "brexit"}
        = t('about.uk_citizens')
      %h3
        = t('about.new_rules_from', date: "1st January 2021")
      %p
        = t('about.uk_citizens_can_use')
        = link_to t('about.more_information_link'), "https://www.gov.uk/visit-europe-1-january-2021", target: :_blank
      %h2{id: "what"}
        = t('about.what_is_schengen')
      %p
        = t('about.schengen_area_description')
      %p
        = t('about.countries_in_schengen')
      %p
        = t('about.abolished_internal_borders')
        = link_to t('about.european_commission_website_link'), "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/schengen/index_en.htm"
      %h2{id: "travel"}
        = t('about.travelling_in_schengen')
      %h3{id: "visa"}
        = t('about.visa_requirements')
      %p
        = t('about.nationality_dependent_visa_requirement')
      %p
        = t('about.exempt_countries_list')
      %p
        = t('about.exempt_countries_conditions')
      %p
        = t('about.non_eu_visa_requirement')
      %h3{id: "length"}
        = t('about.length_of_stay_calculation')
      %p
        = t('about.length_calculation_revision', date: l(Time.new(2013, 10, 18), format: :mid))
      / .ad-block
      /   %ins.adsbygoogle{data: {ad_client: "ca-pub-8290979932488448", ad_format: "auto", ad_slot: "8767935410"}, style: "display:block"}
      %h4{id: "new"}
        = t('about.new_definition_as_of_2013')
      %p
        %blockquote
          = t('about.90_days_definition_blockquote')
          %footer
            %cite{title: "European Commission"}
              = link_to t('about.european_commission_link'), "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/border-crossing/index_en.htm"
      %p
        = t('about.calculation_description.first_paragraph')
      %p
        = t('about.calculation_description.second_paragraph')
      %p
        = t('about.calculation_description.third_paragraph')
      %h3{:id => "additional"}
        = t('about.additional_requirements.heading')
      %p
        = t('about.additional_requirements.first_paragraph')
      %p
        = t('about.additional_requirements.second_paragraph')
      %a.nationality_anchor{:id => "nationality"}
      - if @country.nil?
        %h2
          = t('about.nationality_section.heading')
        %h3
          = t('about.nationality_section.subheading')
        %p
          = collection_select(:user, :nationality_id, Country.outside_schengen.order_by_name, :nationality, :name, {include_blank: t('about.nationality_section.select_prompt')}, {:class => "form-control custom-select", :onChange => "App.goToNationality(this.value,'nationality')"})
      - else
        = render "nationality"
        %h4 
          = t('about.nationality_section.select_another_prompt')
        %p
          = collection_select(:user, :nationality_id, Country.outside_schengen.order_by_name, :nationality, :name, {include_blank: t('about.nationality_section.select_prompt')}, {:class => "form-control custom-select", :onChange => "App.goToNationality(this.value, 'nationality')"})
      .text-center
        = link_to t('about.button_text'), visits_path, class: "btn btn-primary"
      .ad-block
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "4337735818", :style => "display:block"}
      %p
        = t('about.blog_link_intro')
        = link_to t('blog.extendedTravel.title'), blog_path('extended-schengen-stay')

      %h2{:id => "how"}
        = t('about.how_to_use.title')
      %h4{:id => "steps"}
        = t('about.how_to_use.step_1.title')
      %p
        = t('about.how_to_use.step_1.description')
      %h4
        = t('about.how_to_use.step_2.title')
      %p
        = t('about.how_to_use.step_2.description')
      %h4
        = t('about.how_to_use.step_3.title')
      %p
        = t('about.how_to_use.step_3.description_1')
        %br
        = t('about.how_to_use.step_3.description_2')
      %h4
        = t('about.how_to_use.step_4.title')
      %p
        = t('about.how_to_use.step_4.description')
      %h4
        = t('about.how_to_use.step_5.title', optional: true)
      %p
        = t('about.how_to_use.step_5.description', optional: true)
      %h3{:id => "limitations"}
        = t('about.limitations.title')
      %h4
        = t('about.limitations.additional_visa_waiver.title')
      %p
        = t('about.limitations.additional_visa_waiver.description')
      %h4
        = t('about.limitations.countries_outside_schengen.title')
      %p
        = t('about.limitations.countries_outside_schengen.description')
      %h3{:id => "definitions"}
        = t('about.definitions.title')
      %h4
        = t('about.definitions.visits_travel_record.title')
      %p  
        %strong
          = t('about.definitions.visits_travel_record.entry_date')
        = t('about.definitions.visits_travel_record.entry_date_description')
      %p
        %strong
          = t('about.definitions.visits_travel_record.exit_date')
        = t('about.definitions.visits_travel_record.exit_date_description')
      %p  
        %strong
          = t('about.definitions.visits_travel_record.country')
        = t('about.definitions.visits_travel_record.country_description')
      %p  
        %strong
          = t('about.definitions.visits_travel_record.schengen_area')
        = t('about.definitions.visits_travel_record.schengen_area_description')
      %p  
        %strong
          = t('about.definitions.visits_travel_record.days_remaining')
        = t('about.definitions.visits_travel_record.days_remaining_description')
      %p  
        %strong
          = t('about.definitions.visits_travel_record.days_over_stay')
        = t('about.definitions.visits_travel_record.days_over_stay_description')
      %p
        %strong
          = t('about.definitions.visits_travel_record.visa')
        = t('about.definitions.visits_travel_record.visa_description')
      %p
        %strong
          = t('about.definitions.visits_travel_record.no_entries')
        = t('about.definitions.visits_travel_record.no_entries_description')
      %p
        %strong
          = t('about.definitions.visits_travel_record.visa_days_over_stay')
        = t('about.definitions.visits_travel_record.visa_days_over_stay_description')
      %h4
        = t('about.definitions.short_stay_schengen_visa_record.title')
      %p  
        %strong
          = t('about.definitions.short_stay_schengen_visa_record.start_date')
        = t('about.definitions.short_stay_schengen_visa_record.start_date_description')
      %p  
        %strong
          = t('about.definitions.short_stay_schengen_visa_record.end_date')
        = t('about.definitions.short_stay_schengen_visa_record.end_date_description')
      %p  
        %strong
          = t('about.definitions.short_stay_schengen_visa_record.no_entries')
        = t('about.definitions.short_stay_schengen_visa_record.no_entries_description')
      %h2{:id => "disclaimer"}
        = t('about.disclaimer.title')
      %p
        = t('about.disclaimer.description', link: link_to(t('about.disclaimer.link_text'), disclaimer_path))
      %h3{:id => "updated"}
        = t('about.last_updated.title')
      %p
        = t('about.last_updated.description', date: l(Time.new(2024, 1, 23), format: :mid))
:javascript
  $('body').scrollspy({ target: '.about-sidebar', offset: 130 })
  $('.about-sidebar li a').click(function(event) {event.preventDefault(); $( $(this).attr('href') )[0].scrollIntoView(); scrollBy(0, -120); });
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});


