.row
  .col-md-12{:role => "main"}
    .about-section
      %h1
        = t('about.datadeletion.title')
        %br
      %h2
        = t('about.datadeletion.subtitle')
      %ol
        %li= t('about.datadeletion.step1')
        %li= t('about.datadeletion.step2')
        %li= t('about.datadeletion.step3')
        %li= t('about.datadeletion.step4')
      %p
        = t('about.datadeletion.conclusion')
