.row
  .col-md-12(role="main")
    .about-section
      %h2= t('about.privacy.privacy_policy_title')
      %h3= t('about.privacy.introduction_title')
      %p= t('about.privacy.introduction_content')
      %h3= t('about.privacy.what_we_do_title')
      %p= t('about.privacy.personally_identifiable_info_content')
      %ul
        - items = t('about.privacy.list_items', default: nil)
        - if items.nil? || items.empty?
          %li No items found
        - else
          - items.each do |item|
            %li= item

      %p= t('about.privacy.other_info_content')
      %h3= t('about.privacy.cookies_title')
      %p= t('about.privacy.cookies_content')
      %h3= t('about.privacy.external_storage_title')
      %p= t('about.privacy.external_storage_content')
      %h3= t('about.privacy.privacy_responsibilities_title')
      %p= t('about.privacy.privacy_responsibilities_content')
      %ul
        - responsibilities = t('about.privacy.responsibilities_list', default: nil)
        - if responsibilities.nil? || responsibilities.empty?
          %li No responsibilities found
        - else
          - responsibilities.each do |responsibility|
            %li= responsibility
      %h3= t('about.privacy.eu_notice_title')
      %p= t('about.privacy.eu_notice_content')
      %h3= t('about.privacy.children_info_title')
      %p= t('about.privacy.children_info_content')
      %h3= t('about.privacy.changes_policy_title')
      %p= t('about.privacy.changes_policy_content')
      %h3= t('about.privacy.questions_comments_title')
      %p= t('about.privacy.questions_comments_content')
