%h3= t('days.schengen_visa_calculation_by_day')
%p
  = t('days.max_remaining_days')
  - if @overstay
    %small
      = t('days.overstay_warning')

.row
  .col-md-12.text-right
    = link_to t('common.back'), visits_path(locale: I18n.locale)

.row
  .col-md-12
    = render 'dayslist'

.row
  .col-md-12
    = link_to t('common.back'), visits_path(locale: I18n.locale)
