- if @view_mode == 'calendar'
  .calendar-view-container
    -# Status summary (mobile & desktop)
    = render 'calendar_status_summary'
    
    -# Mobile legend (shown only on mobile)
    .d-lg-none
      = render 'legend_mobile'
    
    .row
      -# Main calendar area
      .col-lg-9.calendar-main-area
        -# Year navigation (top)
        = render 'year_navigation', position: 'top'
        
        -# Year summary banner
        = render 'calendar_year_summary'
        
        -# Calendar months
        = render 'calendar'
        
        -# Year navigation (bottom)
        = render 'year_navigation', position: 'bottom'
      
      -# Sidebar (desktop only)
      .col-lg-3.d-none.d-lg-block.calendar-sidebar-col
        = render 'calendar_sidebar'

- else
  -# Table view (existing)
  %h3= t('days.schengen_visa_calculation_by_day')
  %p
    = t('days.max_remaining_days')
    - if @overstay
      %small
        = t('days.overstay_warning')

  .row
    .col-md-12.d-flex.justify-content-between.mb-3
      = link_to t('common.back'), visits_path(locale: I18n.locale), class: 'btn btn-outline-primary'
      = link_to days_path(locale: I18n.locale, view: 'calendar'), class: 'btn btn-outline-secondary' do
        %i.fa.fa-calendar
        = t('days.view_calendar')

  .row
    .col-md-12
      = render 'dayslist'

  .row
    .col-md-12.text-center.mt-3
      = link_to t('common.back'), visits_path(locale: I18n.locale), class: 'btn btn-outline-primary'
