%footer.footer.bg-light.footer-fixed-bottom
  .container.text-center
    %p
      %span.fa.fa-copyright{"aria-hidden" => "true"}
      = t('common.schengen_calculator')
      |
      = link_to t('common.disclaimer'), disclaimer_path(locale: I18n.locale)
      |
      = link_to t('common.privacy_policy'), privacy_path(locale: I18n.locale)
      |
      = link_to t('common.data_deletion'), datadeletion_path(locale: I18n.locale)
      |
      %span.facebook-buttons
        -# %span.like
        -#   %span.fb-like.visible-xs-block{ "data-action": "like", "data-href": "https://www.facebook.com/schengencalculator", "data-layout": "button", "data-share": "false", "data-show-faces": "false"}
        %span.share
          %span.fb-share-button.visible-xs-block{ "data-href": "https://schengen-calculator.com", "data-layout": "button" }
      |
      = language_selector
%script{:type => "application/ld+json"}
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://schengen-calculator.com",
  "logo": "https://schengen-calculator.com/med.png"
  }

/ Google tag (gtag.js)
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-E9CCZDHLJF"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E9CCZDHLJF');



