%nav.navbar.navbar-expand-sm.navbar-light.bg-light.sticky-top.justify-content-start
  %button.navbar-toggler{type: "button", "data-toggle" => "collapse", "data-target" => "#navtabs", "aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
    %span.navbar-toggler-icon
  %a.navbar-brand.px-3.px-sm-0{:href => visits_path}
    = image_tag("logo.svg", alt: "Schengen Calculator")
    %span.navbar-text.site-title
      Schengen 
      %span.d-none.d-lg-inline
        Visa 
      Calculator
  .collapse.navbar-collapse{id: "navtabs"}
    %ul.navbar-nav.nav-tabs.mx-auto.navbar-light
      %li.nav-item.no-wrap{role: "navigation", class: (active_if(controller: 'visits')) }
        %a.nav-link.btn-lg{href: visits_path }
          %span.fa.fa-plane{"aria-hidden": "true"}
          %span
            Calculator
      %li.nav-item.no-wrap{role: "navigation", class: (active_if(controller: 'about'))}
        %a.nav-link.btn-lg{href: about_path}
          %span.fa.fa-info-circle{"aria-hidden": "true"}
          %span
            About
  .navbar-nav
    - if current_user_or_guest_user
      %p.current-setting.navbar-text.pr-2
        = current_user_or_guest_user.full_name
        %br
        = link_to current_user_or_guest_user.nationality.name, my_details_path
  .form-inline.ml-auto
    - if user_signed_in?
      = link_to 'Log out', destroy_user_session_path,  method: :delete,  class: 'btn btn-primary log-in-link'
    - else 
      = link_to 'Login', new_user_session_path, class: 'btn btn-primary'
