<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8290979932488448",
      enable_page_level_ads: true
    });
  </script>

  <!-- Preconnect to external domains for faster resource loading -->
  <link rel="preconnect" href="https://pagead2.googlesyndication.com">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://connect.facebook.net">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msvalidate.01" content="78EB2E60264CB939006FF5C07C8F2404">
  <meta http-equiv="content-language" content="<%= I18n.locale %>">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <meta name="referrer-policy" content="no-referrer-when-downgrade">
  <meta name="description" content="<%= @meta_description || (content_for?(:description) ? yield(:description) : t('default_description')) %>" />
  <meta name="keywords" content="<%= t('keywords') %>">
  <meta property="og:type" content="<%= @og_type || 'website' %>" />
  <meta property="og:url" content="<%= @og_url || "https://#{request.host_with_port}#{request.path}" %>" />
  <meta property="og:title" content="<%= @meta_title || (content_for?(:title) ? t('title_with_content', content: yield(:title)) : t('default_title')) %>" />
  <meta property="og:description" content="<%= @meta_description || (content_for?(:description) ? yield(:description) : t('default_description')) %>" />
  <meta property="og:image" content="<%= @og_image || 'https://schengen-calculator.com/med.png' %>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <% if @og_site_name %><meta property="og:site_name" content="<%= @og_site_name %>" /><% end %>
  <% if @article_published_time %><meta property="article:published_time" content="<%= @article_published_time %>" /><% end %>
  <% if @article_modified_time %><meta property="article:modified_time" content="<%= @article_modified_time %>" /><% end %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= @meta_title || (content_for?(:title) ? t('title_with_content', content: yield(:title)) : t('default_title')) %>" />
  <meta name="twitter:description" content="<%= @meta_description || (content_for?(:description) ? yield(:description) : t('default_description')) %>" />
  <meta name="twitter:image" content="<%= @og_image || 'https://schengen-calculator.com/med.png' %>" />


  <% canonical_tag = 'https://' + request.host_with_port + request.path %>
  <% locales_pattern = I18n.available_locales.map(&:to_s).join('|') %>
  <% alternate_path = '' %>
  <% alternate_path2 = '' %>
  <% alternate_path3 = '' %>
  <% alternate_path_other_lang = '' %>
  <% if request.path == '/en' || request.path == '/' || request.path == '/en/about' || request.path == '/about'  %>
    <% canonical_tag = 'https://' + request.host_with_port + '/' %>
    <% alternate_path = 'https://' + request.host_with_port + '/about' %>
    <% alternate_path2 = 'https://' + request.host_with_port + '/en/about' %>
    <% alternate_path3 = 'https://' + request.host_with_port + '/en' %>
  <% elsif request.path.starts_with?('/en/') %>
    <% canonical_tag = 'https://' + request.host_with_port + request.path.sub('/en/', '/') %>
    <% alternate_path2 = 'https://' + request.host_with_port + request.path %>
  <% elsif request.path =~ /^\/(#{locales_pattern})(\/.*)?$/ %>
    <% canonical_tag = 'https://' + request.host_with_port + request.path %>
    <% alternate_path_other_lang = canonical_tag %>
      <% if canonical_tag.end_with?('/about') %>
        <% alternate_path2 = canonical_tag %>
        <% canonical_tag = canonical_tag.sub(/\/about\z/, '') %>
        <% alternate_path_other_lang = canonical_tag %>
      <% end %>
      <% if canonical_tag =~ /\/(#{locales_pattern})\z/ %>
        <% alternate_path2 = canonical_tag + '/about' %>
      <% end %>
  <% else %>
    <% alternate_path2 = 'https://' + request.host_with_port + '/en' + request.path %>
  <% end %>

  <link rel="canonical" href="<%= canonical_tag %>" hreflang="<%= locale.to_s %>" />
  <% if alternate_path.present? %>
    <link rel="alternate" href="<%= alternate_path %>" hreflang="<%= locale.to_s %>"/>
  <% end %>
  <% if alternate_path2.present? %>
    <link rel="alternate" href="<%= alternate_path2 %>" hreflang="<%= locale.to_s %>"/>
  <% end %>
  <% if alternate_path3.present? %>
    <link rel="alternate" href="<%= alternate_path3 %>" hreflang="<%= locale.to_s %>"/>
  <% end %>

  <% I18n.available_locales.each do |locale| %>
    <% if locale != I18n.locale %>
      <% if alternate_path3.present? %>
        <% path_only = URI.parse(alternate_path3).path %>
        <% new_path = path_only.sub(/^\/(#{locales_pattern})(\/.*)?$/, "/#{locale}\\2") %>
        <% alternate_href_locale = alternate_path3.sub(path_only, new_path) %>
      
        <link rel="alternate" href="<%= alternate_href_locale %>" hreflang="<%= locale.to_s %>" />
      <% end %>

      <% if alternate_path_other_lang.present? %>
        <% path_only = URI.parse(alternate_path_other_lang).path %>
        <% new_path = path_only.sub(/^\/(#{locales_pattern})(\/.*)?$/, "/#{locale}\\2") %>
        <% alternate_href_locale = alternate_path_other_lang.sub(path_only, new_path) %>
      
        <link rel="alternate" href="<%= alternate_href_locale %>" hreflang="<%= locale.to_s %>" />
      <% end %>
    
      <% if alternate_path2.present? %>
        <% path_only = URI.parse(alternate_path2).path %>
        <% new_path = path_only.sub(/^\/(#{locales_pattern})(\/.*)?$/, "/#{locale}\\2") %>
        <% alternate_href_locale = alternate_path2.sub(path_only, new_path) %>
      
        <link rel="alternate" href="<%= alternate_href_locale %>" hreflang="<%= locale.to_s %>" />
      <% end %>
    <% end %>
  <% end %>
  



  <title><%= content_for?(:title) ? t('title_with_content', content: yield(:title)) : t('default_title') %></title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: '<%= ENV['FACEBOOK_ID'] || Rails.application.secrets.facebook_id %>',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v19.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="notice">
        <%= render 'layouts/notice' %>
      </div>
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <%= render 'layouts/agoda' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<!-- Temporary mobile debugging console - staging only -->
<% if request.host.include?('test.schengen-calculator.com') %>
  <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>
<% end %>

</body>
</html>
