%h3
  Schengen Tourist Entry Requirements for 
  = @country.nationality_plural
%h4
  Do 
  = @country.nationality_plural
  need to apply for a Schengen Touist Visa before entry?
%p
  - if @country.visa_required == "F"
    No. People from 
    =@country.name
    have freedom of movement withing the EU.
  - elsif @country.visa_required == "V"
    Yes. People from 
    = @country.name 
    must apply for a short-stay schengen visa before entering the Schengen Area.
  - else
    No. People from
    = @country.name
    are exempt from having to obtain a Schengen Visa prior to entry.

%h4
  Which Calculation do
  = @country.nationality_plural 
  need to use when calculating length of stay allowed?
%p
- if @country.old_schengen_calc
  People from @country.name must use the OLD schengen calculation when working out how long they can stay in the schengen zone. 
  This is defined as:
  %blockquote
    "3 months during a 6 months period following the date of first entry"
    %footer
      %cite{:title => "European Commision"}
        =link_to "European Commision", "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/border-crossing/index_en.htm"
-else
  People from
  =@country.name
  must use the NEW schengen calculation when working out how long they can stay in the schengen zone.
  This is defined as:
  %blockquote
    “90 days in any 180-day period […]“. “The date of entry shall be considered as the first day of stay on the territory of the Member States and the date of exit shall be considered as the last day of stay on the territory of the Member States. Periods of stay authorised under a residence permit or a long-stay visa shall not be taken into account in the calculation of the duration of stay on the territory of the Member States.”
    %footer
      %cite{:title => "European Commision"}
        =link_to "European Commision", "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/border-crossing/index_en.htm"
%h4
  Does 
  = @country.name
  have any Additional Visa Waiver agreements?
%p
- if @country.additional_visa_waiver
  = @country.name
  does have additional visa waiver agreements with some schengen countries. These agreements may allow you to stay the schengen area for longer than 90 days. You should exercise caution if you plan to do this, and seek advice before you travel. Note the Schengen Calculator does not take additional visa waiver agreements into account in its calculations. 
- else
  No. 
  = @country.name
  does not have any additional visa waiver agreements with countries in the schengen area.

