
- if @country.nil? == false
  - title " for " +  @country.nationality_plural 
.row
  .col-sm-10
    / Schengen
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "7291202216", :style => "display:block"}
.row
  .col-md-3{:role => "complementary"}
    %nav.about-sidebar.hidden-print.hidden-xs.hidden-sm{:data => {"spy": "affix", "offset-top": "10", "offset-bottom": "50"}}
      .title
        About Schengen Calculator
      %ul.nav.about-sidenav
        %li
          = link_to "Introduction", "#intro"
        %li 
          = link_to "What is the Schengen Area", "#what"
        %li
          = link_to "Travelling in the Schengen Area", "#travel"
          %ul.nav
            %li
              = link_to "Visa Requirements", "#visa"
            %li
              = link_to "Length of Stay Calculation", "#length"
              %ul.nav
                %li
                  = link_to "New definition as of 2013", "#new"
                %li
                  = link_to "Previous definition", "#previous"
            %li
              = link_to "Additional Visa Waiver agreements", "#additional"
            %li
              - if @country.nil?
                = link_to "Schengen requrements for my nationality", "#nationality"
              - else
                =link_to "Schengen requirements for " + @country.nationality_plural, "#nationality"
        %li
          = link_to "How to use the Schengen Calculator", "#how"
          %ul.nav
            %li
              = link_to "Step by Step", "#steps"
            %li
              = link_to "Limitations", "#limitations"
            %li
              = link_to "Field Name Definitions", "#definitions"
        %li
          = link_to 'Disclaimer', "#disclaimer"

  .col-md-9{:role => "main"}
    .about-section
      %h1{:id => "info"}
        About Schengen Calculator
      %h2
        Introduction
      %p
        The Schengen Calculator calculates the length of stay you are allowed to travel in the Schengen Area on a short term Schengen visa. You can use it to keep track, or forecast all of your visits inside the Schengen Area so you know how many days you have remaining before you have to leave. 
      %p 
        It is especially useful for planning travel in Europe that will likely exceed 90 days. By travelling and spending time in and out of the Schengen Area strategically to lengthen your travels. If you are travelling between countries often it can be difficult to track how long you have spent in the Schengen Area, remember which countires are in the Schengen Area, and to calculate when you are able to return after spending time outside. Just enter your nationality, your previous travel and planned travel into the calculator, and it will work out the rest.
      .text-center
        = link_to 'Get Started Now', visits_path, class: "btn btn-primary"
      %h2{:id => "what"}
        What is the Schengen Area
      %p
        The Schengen Area is an area consisting of 26 European countries without internal borders. Its citizens and many non-EU nationals, business people and tourists can freely circulate without being subjected to border checks. Since 1985, it has grown and today includes almost all EU States and a few associated non-EU countries.
      %p
        The countries in the Schengen area include are:  Austria, Belgium, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Slovakia, Slovenia, Spain, Sweden, Switzerland. 
      %p
        While having abolished their internal borders, Schengen States have a common external border agreement on the basis of Schengen rules. This makes it very convenient for tourists to travel between the countries included in Schengen area. However it is important to understand the rules for what visa is required before entering the area (if any), and how long you can stay.
      %p
        For futher information visit the 
        =link_to "European Commision Website", "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/schengen/index_en.htm"
      %h2{:id => "travel"}
        Travelling in the Schengen Area
      %h3{:id => "visa"}
        Visa Requirements
      %p
        Depending on your nationality, you may need to apply for a Short Stay Schengen Visa before entering the Schengen area. The EU has a list of countries whose citizens must apply for a visa, and a list of countries that are exempt from this requirement. As at the 1st March 2015, the following countries are exempt from having to obtain a Schengen Visa prior to entry: 
      %p
        Albania, Andorra, Antigua and Barbuda, Argentina, Australia, Bahamas, Barbados, Bosnia-Herzegovina, Brazil, Brunei, Canada, Chile, Costa Rica, Croatia, El Salvador, Former Yugoslav Republic of Macedonia (FYROM), Guatemala, Honduras, Hong Kong, Israel, Japan, Malaysia, Macao, Mauritius, Mexico, Monaco, Montenegro, New Zealand, Nicaragua, Northern Marianas, Panama, Paraguay, Saint Kitts and Nevis, Serbia, Seychelles, Singapore, South Korea, Taiwan, United States, Uruguay and Venezuela.
      %p
        Please be aware that there are conditions on some of these countries. For example Citizens of Albania, Bosnia-Herzegovina, Former Yugoslav Republic of Macedonia, Moldova, Montenegro, Serbia are exempt from visa obligation only if the passport contains biometric data. 
      %p
        If you are from any other country (outside of the EU), you will need to apply for a Visa before you travel. The visa will specify the length of time it is valid, and the number of entries (of multi entry – unlimited) that are allowed. Please note that the “90 days in any 180 day period” still applies regardless of the Visa beginning and end dates. Use the Schengen calculator to enter your visa details, and to help calculate your allowed length of stay.
      %h3{:id => "length"}
        Length of Stay Calculation
      %p
        The calculation for calculating the allowed length of stay of third party nationals was revised and came into effect on the 18th October 2013. There are however a few which must still use the old calculation, these are Antigua and Barbuda, The Bahamas, Barbados, Brazil, Saint Kitts and Nevis, Mauritius, and Seychelles. This Schengen calculator uses the old or new calculation depending on your nationality and date of travel, so nationals of these countries may still use the calculator.
      .ad-block
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "8767935410", :style => "display:block"}
      %h4{:id => "new"}
        New definition as of 2013
      %p
        %blockquote
          “90 days in any 180-day period […]“. “The date of entry shall be considered as the first day of stay on the territory of the Member States and the date of exit shall be considered as the last day of stay on the territory of the Member States. Periods of stay authorised under a residence permit or a long-stay visa shall not be taken into account in the calculation of the duration of stay on the territory of the Member States.”
          %footer
            %cite{:title => "European Commision"}
              =link_to "European Commision", "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/border-crossing/index_en.htm"
      %p
        The new definition simplifies the calculation, and is based on a “rolling” 180 days from the date of entry. This means on any given day, you need to look back to the previous 180 days, and you must not have stayed in the Schengen zone for more than 90 days in that period, including entry and exit dates.
      %p
        The new definition does not apply to the visa waiver agreements concluded between the EU and Antigua and Barbuda, The Bahamas, Barbados, Brazil, Saint Kitts and Nevis, Mauritius, and Seychelles where the old definition continues to apply.
      %p
        The Schengen calculator will use the appropriate calculation (old or new)s based on your nationality to determine the number of “Schengen days”, however if a previous visit you enter has already overstayed the 90 day limit, the “Schengen days” will continue to be applied outside of the 180 days and will only reset after you have been outside of the Schengen zone for more than 90 days. This however does not mean you would be able to re-enter at the time, as this would be determined by the authorities if you are caught overstaying and may mean being banned from re-entry for a period of time. Do not overstay the 90 days!
      %h4{:id => "previous"}
        Previous definition (still used for people of some nationalities)
      %p
        %blockquote
          "3 months during a 6 months period following the date of first entry"
          %footer
            %cite{:title => "European Commision"}
              =link_to "European Commision", "http://ec.europa.eu/dgs/home-affairs/what-we-do/policies/borders-and-visas/border-crossing/index_en.htm"
      %p
        This calculation is now only used for people from Antigua and Barbuda, The Bahamas, Barbados, Brazil, Saint Kitts and Nevis, Mauritius, and Seychelles where the old definition of the Schengen calculation continues to apply.
      %p
        The old definition is different to a “rolling” 6 months, as it begins on the date of first entry, and then will reset 6 months after that date. Using this calculation can allow for longer stays that the new definition.  For example, if you entered for one day at the start of January, and then re-entered 3 months later for 3 months to end of June, after that the 6 months (from January), would reset allowing you to stay another 3 months, effectively allowing almost 6 months. However, you cannot stay more than 3 months continuous days, so you would have to exit and re-enter the Schengen Area. 
      %p
        The Schengen calculator takes this into account, so you can use the Schengen calculator to experiment with entry and exits dates to maximise your stay.
      %h3{:id => "additional"}
        Additional Visa Waiver agreements
      %p
        Some countries have additional Visa waiver agreements with countries within the Schengen area allowing an additional 90 days in a 180 period stay; however this will be included in the 90 days for other Schengen countries. These additional agreements are often little known by travellers!
      %p
        For example:
      %p 
        Denmark as an additional waiver program with Australia, Canada, Chile, Israel, Japan, Malaysia, New Zealand, Singapore, South Korea and the US, allowing 90 days stay every six months, regardless of stays in another Schengen area country (except the other Nordic countries) prior to entry into Denmark. 
      %p
        See 
        =link_to "New to Denmark – Official Portal for Foreigners", "http://www.nyidanmark.dk/en-us/coming_to_dk/visa/Visa_free_travel.html" 
        for further information.
      %p
        Currently the Schengen calculator does not take into account Additional Visa Waiver agreements. Please follow up on this with your own research.
      %a.nationality_anchor{:id => "nationality"}
      - if @country.nil?
        %h2
          Schengen / Europe tourist travel entry and length of stay requirements for my nationality
        %h3
          Select your nationality to view your schengen requirements
        %p
          = collection_select(:person, :nationality_id, Country.outside_schengen, :nationality, :name, {include_blank: 'Select country'}, {:class => "form-control", :onChange => "app.goToNationality(this.value,'nationality')"})
      - else
        = render "nationality"
        %h4 
          Select another nationality to view country specific schengen requirements
        %p
          = collection_select(:person, :nationality_id, Country.outside_schengen, :nationality, :name, {include_blank: 'Select country'}, {:class => "form-control", :onChange => "app.goToNationality(this.value, 'nationality')"})
      .ad-block
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-8290979932488448", "data-ad-format" => "auto", "data-ad-slot" => "4337735818", :style => "display:block"}
      %h2{:id => "how"}
        How to use the Schengen Calculator
      %h4{:id => "steps"}
        Step 1:
      %p
        Select your Nationality. You can change this at the top of the page in the header.
      %h4
        Step 2:
      %p
        If required, enter the details of your short-term Schengen Visa. This will appear below the travel record only when it is required.
      %h4
        Step 3:
      %p
        Add your travel record (past and future). You need to include at least any travel inside of the Schengen Area you have done for the last 180 days.
      %p 
        It is best of you enter all your movements between countries, Schengen and Non-Schengen Countries, and even travel from one Schengen Country to another as you may not be aware that some countries are or are not a part of the Schengen Agreement. The entry date is the day you arrive, and the exit date is the day you leave. Do not worry if the exit date overlaps with the entry date of your next visit, the calculator will not double count days when calculating your length of stay inside the Schengen Area. 
      %h4
        Step 4:
      %p
        Review the information regarding the validity of the travel and the remaining time you can stay in the Schengen area. Use the Calculator to do some what if they scenarios by changing your intended travel record.
      %h4
        Step 5: (optional)
      %p
        To save your travel record, Register and Log In. Your existing “Guest” data will be copied to your new account. You can register with the Schengen Calculator, or use Facebook to Login and Register.
      %h3{:id => "limitations"}
        Limitations
      %h4
        Aditional Visa Waiver Agreements
      %p
        The Schengen Calculator does not take into account any additional Visa Waiver Agreements that may exist.
      %h4
        Countries outside of the Schengen Area
      %p
        The Schengen Calculator does not give any information on visa, entry requirements, or length of stay requirements for countries outside of the Schengen Area. These will be marked N/A – Not Applicable.
      %h3{:id => "definitions"}
        Field Name Definitions
      %h4
        Visits/Travel Record
      %p  
        %strong
          Entry Date:
        The Day you Entry the Country
      %p
        %strong
          Exit Date:
        The Day you Exit the Country
      %p  
        %strong
          Country:
        The Country you are visiting
      %p  
        %strong
          Schengen Area:
        Yes = In the Schengen Area No = Not in the Schengen Area
      %p  
        %strong
          Days Remaining:
        The number of days remaining of the 90 days allowed in the Schengen Zone
      %p  
        %strong
          Days Over Stay:
        Number of days OVER the 90 days allowed in the Schengen Area
      %p
        %strong
          Visa: 
        This relates only to a Single/Multi Short Stay Schengen Visa only people who require a Visa prior to entry.
      %p
        %strong
          No Entries: 
        Number of times you have entered / re-entered the Schengen Area. (not moving from on Schengen country to another is no considered a re-entry, however if there is more than one day between exiting a country Schengen Country and entering the next the calculator will assume you have exited the Schengen Area and will count it as a re-entry.
      %p
        %strong
          Visa Days Over Stay:
        The number of days in the Schengen Zone without permission on your visa. Either you have not entered a visa, you exited after the end date of the visa, or you entered the Schengen zone more times that was allowed on the Visa.
      %h4
        Short Stay Schengen Visa Record
      %p  
        %strong
          Start Date:
        The first day of the Visa Period
      %p  
        %strong
          End Date:
        The last day of the Visa Period
      %p  
        %strong
          No Entries:
        The number of entries allowed on the Visa. If it is  Multi Entry visa enter 0.
      %h2{:id => "disclaimer"}
        Disclaimer
      %p
        Please read the 
        = link_to 'Disclaimer', disclaimer_path
        before using the Schengen Calculator.       
:javascript
  $('body').scrollspy({ target: '.about-sidebar', offset: 130 })
  $('.about-sidebar li a').click(function(event) {event.preventDefault(); $( $(this).attr('href') )[0].scrollIntoView(); scrollBy(0, -120); });
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});
  (adsbygoogle = window.adsbygoogle || []).push({});


