%h1.mb-4= t('blog.extendedTravel.title')

%section
%p.lead= t('blog.extendedTravel.introduction')
%p.lead= t('blog.extendedTravel.introContent')

%section
%h2= t('blog.extendedTravel.understandingTitle')
%p= t('blog.extendedTravel.understandingContent')

%section
%h2= t('blog.extendedTravel.nearbyTitle')
%p= t('blog.extendedTravel.nearbyContent')
%ul
  - t('blog.extendedTravel.countries').each do |country|
    %li
      %strong= country[:name]
      = country[:description]

%section
%h2= t('blog.extendedTravel.accessibilityTitle')
%p= t('blog.extendedTravel.accessibilityContent')

%section
  %h2= t('blog.extendedTravel.maximizingTitle')
  %p
    = t('blog.extendedTravel.maximizingContent')
    %br/
    = t('blog.extendedTravel.maximizingContentContinued')
%section
  %h2= t('blog.extendedTravel.understanding90Title')
  %p= t('blog.extendedTravel.understanding90Content')

%section
  %p= t('blog.extendedTravel.repeatPatternContent')

%section
  %h2= t('blog.extendedTravel.conclusionTitle')
  %p= t('blog.extendedTravel.conclusionContent')