%h1.mb-4= t('blog.extendedTravel.title')

%section
%h2= t('blog.extendedTravel.introduction')
%p.lead= t('blog.extendedTravel.introContent')

%section
%h2= t('blog.extendedTravel.understandingTitle')
%p= t('blog.extendedTravel.understandingContent')

%section
%h2= t('blog.extendedTravel.nearbyTitle')
%p= t('blog.extendedTravel.nearbyContent')
-# %ul
-#     - t('blog.extendedTravel.countries').each do |country|
-#     %li
-#         %strong= country['name']
-#         : #{country['description']}

%section
%h2= t('blog.extendedTravel.accessibilityTitle')
%p= t('blog.extendedTravel.accessibilityContent')

%section
%h2= t('blog.extendedTravel.maximizingTitle')
<!-- Add content for this section -->

%section
%h2= t('blog.extendedTravel.understanding90Title')
<!-- Add content for this section -->

%section
%h2= t('blog.extendedTravel.repeatPatternTitle')
<!-- Add content for this section -->

%section
%h2= t('blog.extendedTravel.conclusionTitle')
%p= t('blog.extendedTravel.conclusionContent')
