%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .row
      .col-md-12
      .navbar-header
        / %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        /   %span.sr-only Toggle navigation
        /   %span.icon-bar
        /   %span.icon-bar
        /   %span.icon-bar
        %a.navbar-brand{:href => "#"} 
          = image_tag("logo.svg", alt: "Schengen Visa Calculator", class: "pull-left")
        %span.navbar-text.site-title
          Schengen Visa Calculator
      .navbar.navbar-right
        %ul.nav.nav-pills
          - if user_signed_in?
            %li
              = link_to 'Log out', destroy_user_session_path,  method: :delete,  class: 'navbar-link log-in-link'
          - else 
            %li
              = link_to 'Login', new_user_session_path, class: 'navbar-link log-in-link'
    .row
      .col-md-12
        #navbar.navbar-left
          %ul.nav.nav-tabs.site-nav
            %li{:role => "presentation", :class => (active_if(controller: 'visits')) }
              %a.navbar-link{href: visits_path }
                %span.glyphicon.glyphicon-plane{":aria-hidden" => "true"}
                %span.hidden-xs
                  Calculator
            %li{:role => "presentation", :class => (active_if(controller: 'about'))}
              %a.navbar-link{href: visits_path}
                %span.glyphicon.glyphicon-info-sign{":aria-hidden" => "true"}
                %span.hidden-xs
                  About
        - if current_person
          %p.current-setting.pull-right
            = current_person.full_name + " - " + current_person.nationality.name
            = link_to '(change)', my_details_path


       
