<!DOCTYPE html>
<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8290979932488448",
        enable_page_level_ads: true
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="78EB2E60264CB939006FF5C07C8F2404" />
    <meta http-equiv="content-language" content="en">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Free Schengen/Europe 90/180 day calculator. Enter your nationality, travel dates and destination, and the schengen calculator does the rest." %>" />
    <meta name="keywords" content="Schengen, Schengen Calculator,90 days in 180, 90 day rule, 180 day calculator, 90 day calculator, Schengen Visa, Travel, Europe Visa, Schengen Area, Schengen Zone">
    <meta property="og:url"           content="http://www.schengen-calculator.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= content_for?(:title) ? 'Free Schengen / Europe Short-stay Tourist Visa Calculator ' + content_for(:title) : 'Schengen / Europe Tourist Visa Calculator' %>" />
    <meta property="og:description"   content="<%= content_for?(:description) ? yield(:description) : "Free Schengen/Europe Visa 90/180 day calculator. Enter your nationality, travel dates and destination, and the schengen calculator does the rest." %>" />
    <meta property="og:image"         content="http://www.schengen-calculator.com/med.png" />
    <title><%= content_for?(:title) ? 'Schengen / Europe Short-stay Tourist Visa Calculator ' + content_for(:title) : 'Schengen / Short-stay Tourist Visa Calculator' %>
    </title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application',  media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class='notice'>
            <%= render 'layouts/notice' %>
          </div>
          <%= yield %>
        </div>
        <div class="col-md-3">
          <%= render 'layouts/agoda' %>
        </div>
      </div>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
